<app-toolbar></app-toolbar>

<div class="main-container">
  <div class="container">
    <div class="customer" style="width: 55em;">
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              My Cart
            </mat-panel-title>
            <mat-panel-description>
              Book added to cart
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customer Details
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input matInput type="number">
            </mat-form-field>
          </div>

          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>Pincode</mat-label>
              <input matInput type="number">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
              <mat-label>Locality</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="form_field">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="form_field">
            <mat-form-field appearance="outline">
              <mat-label>city/town</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
              <mat-label>Landmark</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
      </mat-accordion> -->
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <ng-template matStepLabel>My Cart
              <span style="font-size: 15px; color: rgb(190, 186, 186);">({{ size }} items)</span> 
            </ng-template>
            <div class="getCartBooks" *ngFor="let book of cartBooks" fxLayout="{{ view }}" [fxLayoutAlign]="center" fxFlexOffset="5">
              
              <img src="../../../{{ book.filepath }}" style=" height: 120px; width: 90px;"/>
              <mat-card matTooltip="{{ book.bookDetails }}">  
                <div class="bookname">{{ book.bookName }}</div>
                <div class="authorname">by {{ book.authorName }}</div>
                <div class="price">₹. {{ book.price }}</div>

                <div class="cart-buttons">
                  <button class="remove" (click)="addToBag(book.bookId)">remove</button>
                </div>
              </mat-card>
            </div>
            <div style="padding-left: 1em;">
              <button mat-button matStepperNext style="background-color: gainsboro;">Purchase</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="customerFormGroup">
          <form [formGroup]="customerFormGroup">
            <ng-template matStepLabel>Fill out your details</ng-template>
            <div class="form_field">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput type="number" formControlName="phone" required>
              </mat-form-field>
            </div>
  
            <div class="form_field">
              <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput type="number" formControlName="pincode" required>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Locality</mat-label>
                <input matInput formControlName="locality" required>
              </mat-form-field>
            </div>
  
            <div class="form_field">
              <mat-form-field style="width: 34em;">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" required>
              </mat-form-field>
            </div>
  
            <div class="form_field">
              <mat-form-field appearance="outline">
                <mat-label>city/town</mat-label>
                <input matInput formControlName="city" required>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Landmark</mat-label>
                <input matInput formControlName="landmark">
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button> &nbsp;
              <button mat-button matStepperNext style="background-color: gainsboro;">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Order summery</ng-template>
          <div class="getCartBooks" *ngFor="let book of cartBooks" fxLayout="{{ view }}" [fxLayoutAlign]="center" fxFlexOffset="5">
              
            <img src="../../../{{ book.filepath }}" style=" height: 120px; width: 90px;"/>
            <mat-card><br>
              <div class="bookname">{{ book.bookName }}</div><br>
              <div class="price">₹. {{ book.price }}</div>
            </mat-card>
          </div>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button> &nbsp;
            <button mat-button (click)="checkout()" style="background-color: gainsboro;">CHECKOUT</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>