<!-- <mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row class="toolbar">
  
        <div class="Main">
            <div class="sideNavIcon">
            <div style="position: absolute; left: 45px; top: 6px;">
                <img src="../../../assets/bookLogo.png" height="50px" width="50px">
            </div>
  
            <div style="color: white; position: absolute; left: 115px;">BookStore</div>
  
        </div>
  
        <div class="searchWhole">
  
  
            <div class="searchbar">
            <div class="searchIcon">
                <mat-icon matSuffix>search</mat-icon>
            </div>
            <div>
                <input class="input" matInput type="searchbar" [(ngModel)]="bookName" (input)="booksearch()" placeholder="  Search" style="outline:none;"/>
            </div>
        </div>
        </div>
        <button mat-icon-button style="position: absolute; right: 140px; top: 12px; color: whitesmoke;" (click)="openDialog()">Cart &nbsp;&nbsp;&nbsp;
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
  
        
        </div>

    </mat-toolbar-row>
  
  </mat-toolbar> -->

  <app-toolbar></app-toolbar>

  <!-- page details -->

  <div class="main-container">
    <div class="container">
      <div class="title">
        Books
        <span style="font-size: 15px; color: rgb(190, 186, 186);">({{ size }} items)</span>
      </div>
      <div class="sort-choice">
        <form>
          <mat-form-field appearance="outline">
            <mat-label>sort by relevance</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="Price:High To Low">Price:High To Low</mat-option>
              <mat-option value="Price:Low To High">Price:Low To High</mat-option>
              <mat-option value="Newest Arrival">Newest Arrival</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  
    <div class="list-books">
      <div class="getAllBooks" *ngFor="let book of books | bookSearch: bookSearch" fxLayout="{{ view }}" [fxLayoutAlign]="center" fxFlexOffset="5">
        <mat-card matTooltip="{{ book.bookDetails }}">
          <mat-card-title>
            <img src="../../../{{ book.filepath }}" style=" height: 171px; width: 140px; margin-left: 45px; margin-right: 45px; padding-top: 10px; padding-bottom: 10px; "/>
          </mat-card-title>
          <mat-card-content
            ><div class="bookname">{{ book.bookName }}</div>
            <div class="authorname">by {{ book.authorName }}</div>
            <div class="price">Rs. {{ book.price }}</div>
            <div class="cart-buttons">
              <div><button class="addtobag" (click)="addToBag(book.bookId)">ADD TO BAG</button></div>
              <div><button class="wishlist" [style.background-color]="toggle ? 'white' : 'green'" (click)="addToWishlist(book.bookId)">WISHLIST</button></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>